@mixin wraper {
  width: 1920px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

@mixin zIndexLine {
  content: "";
  position: absolute;
  background-color: $ColLine;
  display: block;
  z-index: -1;
}

@mixin awesomeButton {
  width: 142px;
  height: 48px;
  border: none;
  border-radius: 5px;
  background-color: $buttonCol;
  font-family: $FontFam;
  color: $BackgC;
  font-size: 1.25em;
  font-weight: map-get($font-weight, "semi-bold");
  &:hover {
    background-color: $ButtonToHovEff;
    cursor: pointer;
  }
}

@mixin awesomeLink {
  text-align: center;
  font-family: $FontFam;
  font-weight: map-get($font-weight, "semi-bold");
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: $BodybC;
}

.header {
  background: $MainImg;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 720px;
  min-width: 1920px;
  border-bottom-right-radius: 720px 284px;
  .header-wrap {
    width: 1920px;
    margin-left: 10%;
    box-sizing: border-box;
  }
}

.landing-logo {
  display: flex;
  align-items: center;
  width: 180px;
  padding-top: 15px;
  img {
    width: 50px;
    height: 50px;
    margin-right: 19px;
  }
  p {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.3em;
    line-height: 1.3;
    color: $HeadCol;
    font-family: $FontFamOfText;
    font-weight: map-get($font-weight, "semi-bold");
    color:$BackgC;
    span {
      font-size: 0.5em;
    }
  }
}

.header_heading {
  font-family: $FontFam;
  color: $HeadCol;
  font-size: 71px;
  font-weight: map-get($font-weight, "bold");
  line-height: 1;
  width: 610px;
  padding-top: 70px;
  position: relative;
  z-index: 999;
  &::after {
    @include zIndexLine;
    width: 300px;
    height: 50px;
    bottom: 1px;
  }
}
.header_text {
  font-family: $FontFamOfText;
  color: $HeadCol;
  padding-top: 44px;
  line-height: 1.5;
  font-size: 1em;
  width: 810px;
  white-space: pre-line;
}

.header_button {
  @include awesomeButton;
  margin: 68px 153px 165px 0px;
}

.login {
  @include awesomeLink;
  color: $BackgC;
}

.section {
  position: relative;
  min-width: 1920px;
  .section_text {
    text-align: center;
    font-size: 2.625em;
    margin: 50px 0px 35px 0px;
    font-family: $FontFam;
    color: $HeadCol;
    font-weight: map-get($font-weight, "semi-bold");
    position: relative;
    z-index: 999;
    &::after {
      @include zIndexLine;
      width: 188px;
      height: 50px;
      left: 50%;
      margin-left: 9px;
      bottom: 8px;
    }
  }
}
.section_card_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include wraper;

  .section_card {
    background-color: $BackCC;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    width: 1110px;
    height: 320px;
    box-sizing: border-box;
    text-align: start;
    margin: 15px;
    img {
      width: 100%;
      border-radius: 5px;
    }
  }
}
.section_card_right_container {
  padding: 25px;

  .section_card_heading {
    text-align: center;
    padding-bottom: 30px;
    color: $BackgC;
    font-weight: map-get($font-weight, "semi-bold");
    font-size: 1.25em;
    font-family: $FontFam;
  }
  .section_card_text {
    text-align: justify;
    color: $BackgG;
    padding: 0px 65px 0px 65px;
    font-weight: map-get($font-weight, "semi-bold");
    font-size: 1em;
    line-height: 1.5;
    font-family: $FontFamOfText;
  }
  .section_link {
    @include awesomeLink;
    display: block;
    padding: 25px 50px;
    color: $BackgG;
  }
}

.section_banner {
  width: 1200px;
  height: 144px;
  background: $ColorBanGrad;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  position: relative;
  margin: 0 auto;
  bottom: -92px;
  .section_banner_text_wrap {
    .section_banner_heading {
      color: $HeadCol;
      font-family: $FontFam;
      font-size: 2em;
      font-weight: map-get($font-weight, "bold");
      position: relative;
      margin-bottom: 20px;
      z-index: 999;
      &::after {
        @include zIndexLine;
        width: 64px;
        height: 50px;
        left: 30%;
        bottom: 4px;
      }
    }
    .section_banner_text {
      font-size: 1em;
      font-family: $FontFam;
      color: $BackgC;
      opacity: 0.7;
    }
  }
  .section_banner_button {
    @include awesomeButton;
  }
}

.footer {
  background-color: $BackCC;
  padding-top: 160px;
  padding-bottom: 45px;
  width: 100%;
  min-width: 1920px;
}

.footer-wrap {
  @include wraper;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .footer_logo {
    @extend .landing-logo;

  }

  .footer_text {
    @extend .footer-cr;
    width: 250px;
    text-align: left;
  }
  .footer-cr {
    opacity: 0.7;
    font-size: 0.75em;
    font-family: $FontFamOfText;
    color:$BackgG;
  }
}
