$MainImg: url(../img/m-h-night.jpg);
$buttonCol: #e3ac00;
$ButtonToHovEff: lighten( $buttonCol, 10% );
$BackgC: #ffffff;
$BodybC: #21232e;
$BackgG:#b0c2ce;
$ColLine: #ff4e33;
$HeadCol: #ffffff;
$BackCC: #3b3f50;
$FontFam: 'Source Sans Pro', sans-serif;
$FontFamOfText: 'Fresca', sans-serif;
$ColorBanGrad: linear-gradient(to right, #dea405 , #942e51);;
$font-weight: ("normal": 400, "semi-bold": 600, "bold": 700);