$MainImg: url(../img/m-h-day.jpg);
$buttonCol: #699900;
$ButtonToHovEff: lighten( $buttonCol, 10% );
$BackgC: #ffffff;
$BodybC: #ffffff;
$BackgG:#bbbec9;
$ColLine: #14a0c7;
$HeadCol: #2a2f3c;
$BackCC: #21232e;
$FontFam: 'Source Sans Pro', sans-serif;
$FontFamOfText: 'Hind', sans-serif;
$ColorBanGrad: linear-gradient(to right, #65950e , #2e5dd4);
$font-weight: ("normal": 400, "semi-bold": 600, "bold": 700);